<% comments.each do |comment| %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text"><%= comment.body %></p>
     <p class="blockquote-footer">Created at: <%= comment.created_at %> by: <%= (users.find {|user| user.id == comment.user_id }).username %></p>
      <p class="btn btn-sm btn-success reply" data-commentID="<%= comment.id %>">reply</p>
             <% if current_user.id == comment.user_id %>
       <p class="btn-sm btn btn-danger" style="color:white;text-decoration:none;">

           <%= link_to 'Delete' , comment_path(:id => comment.id, :post_id => comment.post_id) , method: :delete, data: { confirm: 'Are you sure?' }   %>\
      
       </p>
        <% end %>
  </div>

   
  <div class='container pb-3 form-reply' style="display:none;">
    <%= form_with url:"/comments/#{comment.id}/comments/" , html:{class:"mt-1"} do |f| %>
 <p>Leave A comments</p>
   <%= f.hidden_field :parent_id, :value => comment.id %>
   <%= f.hidden_field :post_id, :value => comment.post_id %>
    <div class="form-group"> 
        <%= f.label :author , 'Author'  %>
        <%= f.text_field :author , class:"form-control" %>
    </div>
    <div class="form-group">
            <%= f.label :body , 'Body' %>
        <%= f.text_field :body, class:"form-control" %>
    </div>
            <%= f.submit  class:"btn btn-warning" %>
            
    <% end %>
 
</div>

</div>

    <% sublist.each do |c| %>
        <% if c.parent_id == comment.id %>
        <div class="card mx-5" style="width: 18rem;">
     <div class="card-body ">
 
    <p class="card-text"><%= c.body %></p>
         <p class="blockquote-footer">Created at: <%= c.created_at %> by: <%= (users.find {|user| user.id == c.user_id }).username %></p>
         <% if c.user_id == current_user.id %>
          <%= link_to 'Delete' , comment_path(:id => c.id, :post_id => c.post_id) , method: :delete, data: { confirm: 'Are you sure?' }  , class:"btn-sm btn btn-danger" %>
        <% end %>
  </div>

</div>
            
        <% end%>
    <% end %>

 <% end %>